html.
   <body>
      <form action = "/form/process_form" method = "POST">
         First Name: <input type = "text" name = "first_name">  <br>
         Last Name: <input type = "text" name = "last_name">
         <input type = "submit" value = "Submit">
      </form>

      <h3>File Uploads:</h3>
      Select a file to upload: <br />
      
      <form action = "/form/process_form_upload" method = "POST" enctype = "multipart/form-data">
         <input type="file" name="file" size="50" />
         <br />
         <input type = "submit" value = "Upload File" />
      </form>
   </body>
